.cards-container {
  display: grid;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 1025px) {
  .cards-container {
    display: grid;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 0;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(1, auto);
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }
}
